<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WPChartsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76DE95361F0E26F40063EA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DE954F1F0E26F40063EA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DE955A1F0E26F40063EA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
